.sidebar-dashboard {
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 90px; /* Move the sidebar down by 60px */
  z-index: 100;
  border-radius: 0 10px 10px 0; /* Rounded corners on the right side */
}



/* Estilos del contenido principal */
.main-content {
  margin-left: 250px; /* Este margen hace espacio para el sidebar */
  padding: 20px; /* Ajusta el padding según sea necesario */
  width: calc(100% - 250px); /* Resta el ancho del sidebar */
}


.sidebar-dashboard-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar-dashboard-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav-dashboard {
  display: flex;
  flex-direction: column;
}

.nav-dashboard-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.nav-dashboard-link:hover,
.nav-dashboard-link.active {
  background-color: #1a73e8;
}

.btn-upgrade-dashboard {
  padding: 10px 20px;
  background-color: #FFC107; /* Changed to a gold color for the upgrade button */
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: auto; /* Push the button to the bottom */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-upgrade-dashboard:hover {
  background-color: #DAA520; /* Darker gold on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar-dashboard {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000; /* Make sure sidebar is on top */
    overflow-y: auto; /* Scrollable if content is too long */

    
  }

  .main-content {
    margin-left: 0; /* El contenido se expande a todo el ancho */
  }

  .stat-card, .chart-card {
    width: 100%; /* 1 elemento por fila */
  }
}
